html, body {
	height: 100%;
	min-height: 100%:;
}

.container, .wrapper {
	height: 100%;
}
.content-wrapper {
    height: 100%;
    width: 100%;
}
.map, .leaflet-container {
	height: 100%;
  	width: 100%;
}
.welcome {
	display: flex;
  	justify-content: center; 
  	align-items: center; 
}